# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Microsoft EdgeDownload\to-meishan-OnlineAuditPlatform-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
